#main-content {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

.main-container{
    margin-left: 5%;
    width: 80%;
    float: left;
}

.anime-list {
    display: flex;
}

.anime-item {
    width: 30%;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.anime-item img {
    width: 100%;
    height: auto;
}

.anime-item h3 {
    margin-top: 10px;
}

.anime-item:hover{
    background-color: rgb(167, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

h2{
    color: white;
}

.bg-red{
    background-color: rgb(167, 0, 0);
    height: 10px;
  }



